
svg {
  margin-top: -50px;
  margin-left: -50px;
}

.country {
  stroke: #999;
}

path:hover {
  fill: rgb(224, 185, 111);
  cursor: pointer;
}

.title-years {
  font-family: 'Volkhov', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: black;
  width: 100%;
  display: flex;
}
.years {
  font-size: 40px;
  color: black;
}

.title-new {
  width: 33%;
  text-align: center;
  font-size: xxx-large;
  padding-top: 1rem;
}

.links {
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}
.links a i{
  font-size: 40px;
  padding: 5px;

}
.links a i:hover {
  // border: 1px solid rgb(95, 94, 94);
  padding: 5px;
  box-shadow: 2px 2px 10px 3px grey;
  border-radius: 10px;
}
.holder {
  width: 33%;
}
.links a {
  color: black;
}

#container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.bottom-one {
  display: flex;
  flex-direction: row;
}

#slider-container {
  bottom: 35px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}

#year-slider {
  -webkit-appearance: none; 
  background: transparent; 
  width: 100%;
}

#year-slider:focus {
  outline: none;
}

#year-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #555;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #555;
  box-shadow: 0 0 0px #000000;
  margin-top: -8.5px;
}

#year-slider::-webkit-slider-runnable-track {
    height: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
}

#year-slider:active::-webkit-slider-runnable-track {
  background-color: rgba(190, 190, 190, 1);
}

#slider-current-year {
  position: absolute;
  top: 20px;
  font-size: 20px;
  font-weight: 400;
}

#tooltip {
  padding: 4px 10px;
  border-radius: 5px;
}

#char-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.bottom-one {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.legend {
  height: 1rem;
  width: 20rem;
  background-color: transparent;
  display: flex;
}

.legend div {
  border: solid;
  border-color: black;
  height: 100%;
  width: 25%;
}
#legend-text {
  padding: 5px;
  border-radius: 10px;
  line-height: 30px;
  font-size: 20px;
  top: 50%
}

#first:hover {
  background-color: rgb(224, 185, 111);
}
#second:hover {
  background-color: rgb(224, 185, 111);
}
#third:hover {
  background-color: rgb(224, 185, 111);
}
#fourth:hover {
  background-color: rgb(224, 185, 111);
}

#first {
  background-color: #fffa9d;
  margin-left: 10px;
}

#second {
  background-color: #41c5d3;
}

#third {
  background-color: #09a8fa;
}

#fourth{
  background-color: #626eef;
  margin-right: 10px;
}

.right-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#paragraph {
  margin-bottom: 90px;
  border: blue 1px solid;
  padding: 10px;
  border-radius: 10px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  top: 50%

}
#instruction-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}

.instuctions {
  height: 100vh;
  width: 50vw;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  top: 35vh;
  left: 25vh;
  transition: 1000ms;
}

.instructions div {
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  top: 35vh;
  left: 25vh;
  box-shadow: 2px 3px 10px 2px grey;
  padding: 10px;
  line-height: 30px;
  
}

.instruction-title {
  font-size: 20px;
  font-weight: bold;
}




